@use 'styles/variables' as vars;

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 90px;
  background-color: vars.$bg-color;
  border-bottom: 2px solid #F3F3F3;
  padding-left: 100px; //TODO: move to mixin or variable
  padding-right: 100px; // TODO: move to mixin or variable
  box-sizing: content-box;
}

.nav {
  justify-self: center;
  display: flex;
  justify-content: center;
  gap: vars.$space-xl;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;

    &.active {
      border-bottom-color: vars.$brand-color;
    }
  }
}

.logo {
  justify-self: start;
  display: flex;
  align-items: center;
  gap: vars.$space-xs;
}

.userActions {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 24px;
}
